<div>
  <div class="user-details">
  <h1> ¿Qué es Radiocronía?</h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user-details">
  <h1> Programas</h1>
</div>

<div>
  <div class="user-projects">
    <h3>La Voz de los Hongos (miércoles 7 pm)</h3>
    <img alt="logo de La Voz de los Hongos" src="{{ "/assets/img/VozDeLosHongos_Logo 1 fondo.png" | prepend: site.baseurl }}" height="300"/>
    <p text-align=justify>Acompañá a Funga Conservation y Colectiva Orgánica para aprender más sobre el reino fungi y sus aplicaciones, mientras construimos en conjunto estrategias para la conservación ambiental de los hongos. Pueden buscarnos en nuestras redes sociales para aprender más sobre los hongos y el desarrollo sostenible.
    </p>
    <p>
      <a href="https://bunqueer.jaquerespeis.org/t/la-voz-de-los-hongos/1646">Clic aquí para oir y compartir los programas anteriores de La Voz de los Hongos</a>
    </p>
  </div>

  <div class="user-projects">
    <h3>El Telar (jueves 6 pm)</h3>
    <img alt=“logo de El Telar” src="{{ "/assets/img/ElTelar2.jpeg" | prepend: site.baseurl }}" />
    <p>
      <em>Voces del tejido comunitario</em>
    </p>
    <p text-align=justify> El Telar, Voces del Tejido Comunitario, es un programa producido por la Red Nacional de Arte y Gestión Cultural Comunitaria GuanaRed.

    Su objetivo es visibilizar diversas realidades y temáticas vinculadas al quehacer comunitario,
    la autogestión y la transformación social, las luchas sociales , el arte y la cultura,
    desde las experiencias de sus protagonistas.
    </p>
    <p>
      <a href="https://bunqueer.jaquerespeis.org/t/el-telar-por-guanared/17">Clic aquí para oir y compartir los programas anteriores de El Telar</a>
    </p>
  </div>
  
  <div class="user-projects">
    <h3>Las radios libres de Abya Yala (sábados a partir de las 10 a.m.)</h3>
    <p>
      <a href="https://bunqueer.jaquerespeis.org/t/las-radios-libres-de-abya-yala/1660">Clic aquí para oir y compartir los programas anteriores de Las radios libres de Abya Yala</a>
    </p>
  </div>

  <div class="user-projects">
    <h3>Casa Techronía (domingos 7 p.m.)</h3>
    <p>
      <em>Tech House 2020, por NereoDJ</em>
    </p>
    <p>
      <a href="https://bunqueer.jaquerespeis.org/t/casa-techronia-por-nereodj/16">Clic aquí para ver y compartir los programas anteriores de Casa Techronía</a>
    </p>
  </div>
</div>
