<div class="user-details">
  <h1> ¿Qué es Radiocronía?</h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt=“telar1” src="{{ "/assets/img/eltelar_1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> El Telar </h3>
    <ul>
      <li> ESTRENAMOS PROGRAMA RADIAL!</li>
    </ul>
    <p text-align=justify> En nuestro primer programa hablaremos con 5 artistas sobre "arte feminista en tiempos de Pandemia" <br>

      ¿Qué es el arte feminista? <br>
      ¿Cómo se vive ser feminista artista en el "gremio cultural"? <br>
      ¿Feminismo y pandemia: qué estrategias se generan en este contexto?<br> <br>

      ¡Una tertulia maravillosa desde voces diversas!<br>
      ¡Les esperamos!<br>

    </p>

  </div>
</div>


 
