<div>
  <div class="user-details">
    <h1> Colectivxs Participantes </h1>
  </div>
  <div>
    <img alt="codigosur" src="{{ "/assets/img/logo codigo sur.png" | prepend: site.baseurl }}" />
    <img alt="GuanaRED" src="{{ "/assets/img/Copy of Logo GuanaRED final-01-1.jpg" | prepend: site.baseurl }}" />
    <img alt="jaquerespeis" src="{{ "/assets/img/logo jaquerespeis-02.jpg" | prepend: site.baseurl }}" />
    <img alt="logo de Funga Conservation" src="{{ "/assets/img/FUNGA FINAL color.png" | prepend: site.baseurl }}" />
  </div>
</div>
