<div class="user-details">
  <h1> Colectivxs Participantes </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="codigosur" src="{{ "/assets/img/logo codigo sur.png" | prepend: site.baseurl }}" />
  </div>
    </div>
<div class="user-projects">
  <div class="images-left">
    <img alt="GuanaRED" src="{{ "/assets/img/Copy of Logo GuanaRED final-01-1.png" | prepend: site.baseurl }}" />
  </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="jaquerespeis" src="{{ "/assets/img/logo jaquerespeis-02.png" | prepend: site.baseurl }}" />
     </div>
      </div>
      </div>
